.subscription {
  display: subgrid;
  padding: 1rem;
  list-style: none;
  border: 1px solid black;
}

.subscription__data {
  display: flex;
  justify-content: space-between;
}

.subscription__data__type {
  display: inline-flex;
}

.subscription__data__type__mod {
  padding: 0.1rem 1rem 0.1rem 1rem;
  border: 1px solid black;
}

.subscription__data__type__mod.selected {
  background-color: black;
  color: white;
}
