---
const jsonModules = import.meta.glob('../../data/mobil/**/*.json', { eager: true });

const subscriptions = Object.values(jsonModules).map((mod: any) => mod.default);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>All Subscriptions</title>
  </head>
  <body>
    
    <h1>Subscriptions List</h1>
    <ul>
      {subscriptions.map((subscription) => (
        <li>
          {subscription.provider && <span>Provider: {subscription.provider} </span>}
          {subscription.numePlan && <span>| Nume Abonament: {subscription.numePlan}</span>}
        </li>
      ))}
    </ul>
    
  </body>
</html>