---
import Subscription from "../components/Subscription";
import Sidebar from "../components/Sidebar";
import Grid from "../components/Grid";
import Banner from "../components/Banner";

import Layout from "../layouts/Layout.astro";

const jsonModules = import.meta.glob("../../data/mobil/**/*.json", {
  eager: true,
});

const subscriptions = Object.values(jsonModules).map((mod: any) => mod.default);
---

<Layout>
  <Sidebar client:load />
  <div class="content">
    <Banner className="banner--select">Sunt pe si vreu sa ma portez</Banner>
    <Grid>
      {
        subscriptions.map((subscription) => (
          <Subscription subscription={subscription} />
        ))
      }
    </Grid>
    <Banner className="banner--price">Total de plata pe 2 ani:</Banner>
  </div>
</Layout>
